<!DOCTYPE html>
<html>

    <head>

        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{ meta_title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="theme-color" content="#ee2647">

        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" href="{{ asset "dist/apple-touch-icon.png" }}">
        <link rel="shortcut icon" href="{{ asset "dist/favicon.png" }}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="{{ asset "dist/css/erika.css" }}">
        <script src="{{ asset "dist/js/vendor/modernizr.js" }}"></script>
        {{> fonts }}

        {{! Ghost outputs important style and meta data with this tag }}
        {{ ghost_head }}

    </head>

    <body class="{{ body_class }} {{#if code}} / error-page {{/if}}">




        {{! > header }}

        <div class="content /">
            <div class="wrap">

                <h1>
                    <span>
                        Erika Petty - Make Up Artist
                    </span>
                </h1>

                {{> social }}

            </div>
        </div>

        {{! > footer }}




        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        {{! The main JavaScript file for Template }}
        {{! <script type="text/javascript" src="{{asset "dist/js/vendor/vendor.js" }}
        {{! <script type="text/javascript" src="{{asset "dist/js/combined.js"}}

        {{>analytics}}

    </body>

</html>
